In [1]:
print("hello, world")

hello, world

# taking inputs:

In [2]:
x=int(input("enter a number:\n"))
y=float(input("enter a float value\n"))

print(x,y)

enter a number:
1
enter a float value
1.2
1 1.2

# taking input and checking the type

In [5]:
num = int(input ("Enter number :"))
print(num)
name1 = input("Enter name : ")
print(name1)
 
print ("type of number", type(num))
print ("type of name", type(name1))

Enter number :123
123
Enter name : mustafa
mustafa
type of number <class 'int'>
type of name <class 'str'>

# if/else statements

In [12]:

i = 10
 
if (i > 15):
    print("10 is less than 15")

print("I am Not in if")

I am Not in if

In [13]:
i = 20
if (i < 15):
    print("i is smaller than 15")
    print("else")
else:
    print("i is greater than 15")
    print("else")
print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

# string

In [14]:
test_string = "University Of Central Pubjab"
  
# printing original string
print ("The original string is : " +  test_string)

res = len(test_string.split())

print ("The number of words in string are : " +  str(res))

The original string is : University Of Central Pubjab
The number of words in string are : 4

# for upper and lower case in string

In [15]:
test_string.lower

In [21]:
test="university of central punjab"
uppercase=test.upper()
print(uppercase)

UNIVERSITY OF CENTRAL PUNJAB

In [23]:
test="university of central punjab"
lowercase=test.lower()
print(lowercase)

university of central punjab